<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technion.coolie"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Skeleton -->
        <activity
            android:name="com.technion.coolie.skeleton.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.technion.coolie.skeleton.PreferencesScreen"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>

        <service android:name="com.technion.coolie.skeleton.HtmlGrabberService" >
        </service>

        <!-- Assign Mentor -->
        <activity
            android:name="com.technion.coolie.assignmentor.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>

        <!-- Join In -->
        <activity
            android:name="com.technion.coolie.joinin.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>

        <!-- Let Me In -->
        <activity
            android:name="com.technion.coolie.letmein.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>

        <!-- Studdy Buddy -->
        <activity
            android:name="com.technion.coolie.studdybuddy.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>

        <!-- Tech Library -->
        <activity
            android:name="com.technion.coolie.techlibrary.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>

        <!-- TechPark -->
        <activity
            android:name="com.technion.coolie.techpark.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>

        <!-- TechTrade -->
        <activity
            android:name="com.technion.coolie.techtrade.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>

        <!-- TecMind -->
        <activity
            android:name="com.technion.coolie.tecmind.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>

        <!-- Teletech -->
        <activity
            android:name="com.technion.coolie.teletech.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>

        <!-- UG -->
        <activity
            android:name="com.technion.coolie.ug.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.technion.coolie.ug.gui.searchCourses.SearchActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.technion.coolie.ug.gui.courseDisplay.CourseDisplayActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.technion.coolie.ug.TransparentActivity"
            android:label="@string/title_activity_transparent"
            android:theme="@style/Theme.Transparent" >
        </activity>
    </application>

</manifest>
