<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technion.coolie"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Skeleton -->
        <activity
            android:theme="@style/Theme.Sherlock.Light"
            android:name="com.technion.coolie.skeleton.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.Sherlock.Light"            
            android:name="com.technion.coolie.skeleton.PreferencesScreen"
            android:label="@string/app_name" >
        </activity>
        
        <service android:name="com.technion.coolie.skeleton.HtmlGrabberService" >
        </service>
        
        <!-- Assign Mentor -->        
        <activity
            android:theme="@style/Theme.Sherlock.Light"            
            android:name="com.technion.coolie.assignmentor.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- Join In -->
        <activity
            android:theme="@style/Theme.Sherlock.Light"            
            android:name="com.technion.coolie.joinin.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- Let Me In --> 
        <activity
            android:theme="@style/Theme.Sherlock.Light"            
            android:name="com.technion.coolie.letmein.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- Studdy Buddy -->
        <activity
            android:theme="@style/Theme.Sherlock.Light"            
            android:name="com.technion.coolie.studybuddy.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- Tech Library -->
        <activity
            android:theme="@style/Theme.Sherlock.Light"            
            android:name="com.technion.coolie.techlibrary.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- TechPark -->
        <activity
            android:theme="@style/Theme.Sherlock.Light"            
            android:name="com.technion.coolie.techpark.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- TechTrade -->
        <activity
            android:theme="@style/Theme.Sherlock.Light"            
            android:name="com.technion.coolie.techtrade.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- TecMind -->
        <activity
            android:theme="@style/Theme.Sherlock.Light"            
            android:name="com.technion.coolie.tecmind.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- Teletech -->
        <activity
            android:theme="@style/Theme.Sherlock.Light"            
            android:name="com.technion.coolie.teletech.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- UG -->
        <activity
            android:theme="@style/Theme.Sherlock.Light"            
            android:name="com.technion.coolie.ug.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
    </application>

</manifest>
